.main-card {
    box-shadow: 0px 1px 3px 0px rgba($color-3, 1);
    padding: 20px;
    width: 700px;
    text-justify: auto;
    margin: 20px auto;
    border-radius: 20px;
    min-height: 100px;
    @media screen and(max-width: 768px) {
        min-width: 310px;
        max-width: 650px;
    }
    .card-left {
        display: flex;
        img {
            height: 50px;
            width: 50px;
            border-radius: 15px;
            object-fit: cover;
            box-shadow: 1px 1px 3px rgba($color-3, 0.192);
            margin: 0 10px 10px 0;
        }
    }
    .card-modify {
        p {
            margin: 3px 0 7px 0;
            line-break: anywhere;
          }
    }
    .card-picture {
        width: 100%;
        border-radius: 6px;
        margin-top: 12px;
        box-shadow: 0 0 3px rgba($color-3, 0.342);
    }
    .card-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 2px 0 4px;
        min-height: 35px;
        h3 {
            font-size: 17px;
        }
        span {
            font-weight: 100;
            font-style: italic;
            font-size: 16px;
        }
    }
    .card-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        padding: 12px 0 4px;
        img {
            height: 22px;
            width: 22px;
            cursor: pointer;
            transition: 0.2s;
    
            &:hover {
              transform: scale(1.2);
            }
          }
    }
    .card-right {
        margin-left: 10px;
        padding-right: 5px;
        .button-container {
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
            img {
                height: 22px;
                width: 22px;
                &:hover {
                    cursor: pointer;
                    transition: 0.2s;
                    transform: scale(1.2);
                }
            }
        }
    }
    .update-post {
        textarea {
          font-size: 16px;
          box-shadow: 1px 1px 3px rgba($color-3, 0.30);
          padding: 15px;
          border-radius: 20px 20px 6px 20px;
          height: 100px;
          width: 100% !important;
          margin-bottom: 15px;
          resize: none;
          @media screen and(max-width: 768px) {
           border-radius: 0;
        }
        }
        .button-modify {
            display: flex;
            justify-content: flex-end;
          .btn {
            width: 160px;
            background: white;
            box-shadow: 1px 1px 3px rgba($color-3, 0.30);
            padding: 10px 20px;
            height: 40px;
            border-radius: 20px;
            &:hover {
                background: $color-2;
                cursor: pointer;
                transition: 0.1s;
            }
          }
        }
      }
}
.load-spinner {
    width: 50px;
    display: flex;
    margin: auto;
}